/* source-sans-pro-normal - latin */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-v9-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSans Pro-Normal'), url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('//lib.baomitu.com/fonts/source-sans-pro/source-sans-pro-v9-latin-regular.svg#SourceSans Pro') format('svg');
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a {
  text-decoration: none;
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.event-lg {
  font-size: 25px;
  margin: 20px;
  color: #fff;
}

.event-sm {
  text-align: left;
  margin-bottom: 3px;
}

.bubble {
  font-size: 20px;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
}

.bubble-right {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  font-size: 17px;
  color: #fff;
  font-weight: 900;
}

.bubble.prepare {
  background-color: #00BEE5;
  box-shadow: 1px 1px 3px #456;
  margin-left: 160px;
}

.bubble.rest {
  background-color: #E5EE47;
  box-shadow: 1px 1px 3px #454;
  margin-left: 160px;
}

.bubble.crazy {
  background-color: #D64CCC;
  box-shadow: 1px 1px 3px #622;
  margin-left: 160px;
}

.time-span.prepare {
  background-color: #9ae;
}

.time-span.rest {
  background-color: #9d9;
}

.time-span.crazy {
  background-color: #c44;
}

.time-span {
  height: 30px;
  width: 3px;
  margin-top: -3px;
  margin-left: 190px;
}

.section-content {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.deadline {
  font-size: 20px;
  color: white;
  text-align: center;
}

.enterprise-col {
  height: 120px;
}

.enterprise-img {
  height: 100px;
  max-width: 100%;
}

.annocement {
  color: white;
  padding: 0 40px;
  line-height: 30px;
}

.annocement-date {
  text-align: right;
}

#prize p {
  color: #2EC3E5;
  text-align: center;
  font-size: 30px;
}

#prize div:not(:first-child) {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.hackx_enterprises img {
  height: 100px;
  max-width: 200%;
  margin-left: auto;
  margin-right: auto;
}

.hackx_enterprises img.with-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.portfolio-box {
  background: #fff;
  position: relative;
  display: block;
  max-width: 450px;
  margin: 0 auto;
}